/*****************************
        Custom STYLES
******************************/

/* Global Styles */

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

body {
    line-height: 1.5em;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a,
a:link,
a:visited {
    color: #c78c06;
}

a:hover,
a:focus {
    color: #222;
    background-color: #c78c06;
    padding: 1em;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: bold;
    margin: 1em 0 0 0.5em;
}

/* To ensure that font sizes are proportionate to each other: www.modularscale.com */

h1 {
    font-size: 5.063rem;
}

h2 {
    font-size: 3.375rem;
    line-height: normal;
}

h3 {
    font-size: 2.25rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1rem;
    line-height: normal;
}



.container {
    max-width: 1200px;
    margin: 0 auto;
    /* ^ this makes it center */
}

/* Navigation Styles */

.logo {
    height: 100px;
}

.logo-wrapper {
    background-color: #c78c06;

}

nav {
    background-color: #222;
    background-size: contain;
    display: block;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    width: 100%;
}

nav ul li {
    display: block;
    font-size: 18px;
}

a,
a:link,
a:visited {
    color: #c78c06;
}

nav ul li a:hover,
nav ul li a:focus {
    color: #222;
    background-color: #c78c06;
}

nav ul li a {
    text-decoration: none;
    display: block;
    padding: 1em;
    text-align: center;
}

/* search */
.search {
    border: 1px solid #222;
    padding: 5px;
    width: 100%;
    height: 40px;
    font-size: 18px;
    border-radius: 0;
    display: flex;
    align-items: center;
    /* This aligns the search bar and button vertically */
}

.search input[type="search"] {
    flex-grow: 1;
    /* Allows the input to fill the available space */
    border: none;
    padding: 8px;
}

.search-btn {
    background-color: #222;
    color: #c78c06;
    border: 1px solid #c78c06;
    padding: 10px;
    font-size: 18px;


}


/* Styling Welcome */

.banner {
    background-image: url(../images/main-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: white;
}

.welcome {
    background-color: #222222a7;
    width: 100%;
}

.welcome h1 {
    padding: 1em;
    padding-left: 0;
    line-height: 1.5em;
}

p {
    margin: 1em;
}

.fa-play {
    margin-left: 0.5em;
}

/* connect with us button */
.btn-connect {
    font-family: 'Open Sans', sans-serif;
    background-color: #c78c06;
    color: #222;
    padding: 2em;
    font-size: 16px;
    border: none;
    margin-bottom: 0.8em;
    margin-left: 0.8em;
}


/* Styling About */

.about-us {
    background-color: #ffe6ac;
    margin: 0 auto;
    margin: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

.about-us-img {
    width: 100%;
    padding: 1em;
}

.about-description {
    margin-top: 0;
}

/* Styling Our Services */

.services {
    width: 100%;
    height: auto;
}


.card {
    margin: 1em;
    background-color: #ffe6ac;
}

.btn-custom {
    font-family: 'Open Sans', sans-serif;
    background-color: #222;
    color: white;
    padding: 2em;
    font-size: 16px;
    border: none;
    padding: 2em;
    margin-bottom: 0.8em;
    margin-left: 0.8em;
}

/* Styling Our Vision */

.vision {
    background-image: url(../images/vision.jpg);
    background-position: center;
    background-size: cover;
    height: 250px;
    margin: 1em;
    color: white;
}

.vision h3 {
    padding-top: 1em;
}

.btn {

    background-color: #22222279;
    padding: 2rem;
    color: white;
    border: 1px solid #c78c06;
    font-size: 16px;
}

/* Styling Our Team */

.card-team {
    background-color: #ffe6ac;
    margin: 1em;
}

.about-img {
    width: 100%;
    height: auto;
}

hr {
    height: 0.12rem;
    background-color: #c78c06;
    border: none;
    margin-left: 1em;
}

/* Styling Contact */

textarea {
    width: auto;
    height: 150%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #222;
    border-radius: 4px;
    resize: none;
}

#feedback {
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
}

.feedback-label {
    font-size: 16px;
    padding-top: 10px;
}

#fullname,
#email {
    width: 97.5%;
    padding: ;
}

.message-textbox {
    resize: none;
}

.btn-send {
    margin-top: 1em;
    background-color: #222;
    margin-left: 0;
    color: #c78c06;
    border: none;
    font-size: 24px;
}

/* Styling Hours of Operation */
th {
    background-color: #ffe6ac;


}

table {
    width: 40%;
    border-collapse: collapse;

}

table th:nth-child(n),
table td:nth-child(n) {
    border: 1px solid black;
/* adds border */
}


/* styling location */


/* Styling footer */
.footer {
    text-decoration: #c78c06;
    margin-top: 20px;
    padding: 17px 0;
    border: none;
    background-color: #222;
    font-size: 14px;
    color: #c78c06;
    margin: 1em;
}

/**********************************
            DESKTOP STYLES
***********************************/

 

@media screen and (min-width:760px) {

    body {
        margin: 0 auto;
    }

    /* Style Navigation */

    .logo-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav {
        background-color: #222;
        padding-bottom: 1em;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2em;
    }

    nav ul li {
        display: inline-block;
    }

    nav ul li a {
        align-items: center;
        justify-content: space-between;
        padding: 1em;
    }

    .search {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .section {
        background-color: #ffe6ac;
    }

    .about-us {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows:auto;
        margin: 0;
    }

    .about-us-img {
        padding: 0;
        padding-top: 1em;
    }

    .about-us h2 {
        margin: 0;
    }

    .card {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            "hdr hdr hdr hdr hdr hdr"
            "dgt dgt dgt mrkt mrkt mrkt"
            "vid vid web web prt prt";
        column-gap: 1em;
        row-gap: 1em;
    }

    .hdr {
        grid-area: hdr;
    }

    .dgt {
        grid-area: dgt;
    }

    .mrkt {
        grid-area: mrkt;
    }

    .vid {
        grid-area: vid;
    }

    .web {
        grid-area: web;
    }

    .prt {
        grid-area: prt;
    }


    .card {
        margin: 0;
    }

    .card-btn {
        display: block;
        width: 100%;
    }



}